*~
*.gcno
*.lock
*.DS_Store
*.swp
*.out
*.o
*.so
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles/
CTestTestfile.cmake
Doxyfile
Makefile
build/
cmake_install.cmake
doc/html/
*_generated.h
fbb.c
fbb.h
gcov/
gcovhtml/
src/fbbcomm.cc
src/firebuild/fbbfp.cc
src/firebuild/fbbstore.cc
src/firebuild/firebuild
test/fbbtest.cc
test/test_orphan
test/test_random
