*~
*.lock
*.DS_Store
*.swp
*.out
*.o
*.so
.gitignore
CMakeCache.txt
CMakeFiles/
Doxyfile
Makefile
build/
cmake_install.cmake
data/d3.v5.min.js
fb-cache.pb.cc
fb-cache.pb.h
fbb.c
fbb.h
src/firebuild/firebuild
