Source: firebuild
Section: devel
Priority: optional
Maintainer: Balint Reczey <balint@balintreczey.hu>
Build-Depends: bats,
               bc,
               cmake,
               debhelper-compat (= 12),
               docbook-xsl,
               gcc (>= 4:10) | gcc-10,
               g++ (>= 4:10) | g++-10,
               graphviz,
               libconfig++-dev,
               libjemalloc-dev,
               libtsl-hopscotch-map-dev,
               libxxhash-dev (>= 0.8),
               moreutils,
               node-d3,
               python3-jinja2,
               xsltproc
Standards-Version: 4.4.1
Homepage: https://firebuild.org
Rules-Requires-Root: no

Package: firebuild
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libfirebuild0 (= ${binary:Version})
Suggests: graphviz,
          node-d3
Description: Build analyzer and catalyst
 Firebuild analyzes the build process and speeds them up.

Package: libfirebuild0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Build analyzer and catalyst - shared libraries
 Firebuild analyzes the build process and speeds them up.
