#!/usr/bin/make -f

# Use GCC 10 instead of earlier versions to enable LTO for the firebuild binary
ifeq ($(shell $(CXX) --version | head -n1 | cut -d\  -f4 | xargs dpkg --compare-versions 10 lt || echo buggy-lto),buggy-lto)
export CC = gcc-10
export CXX = g++-10
endif

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/tmp/usr/share/man/man1
	help2man -s 1 -n firebuild -o debian/tmp/usr/share/man/man1/firebuild.1 debian/tmp/usr/bin/firebuild

override_dh_auto_test:
ifeq ($(filter nocheck,$(DEB_BUILD_OPTIONS)),)
	make -C obj-* check
endif
